{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.module.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
